html, body{
  height: 100%
}

*{
  margin: 0;
}

h1{
  position: absolute;
  font-size: 100px;
  color: white;
  padding-left: 330px;
  top: 350px;
}

p{
  position: absolute;
}

#p1{
  top: 540px;
  padding-left: 520px;
  color: white;
  font-size: 42px;
}

#p2{
  top: 840px;
  padding-left: 220px;
  color: white;
  font-size: 24px;
}

#p3{
  color: black;
  top: 2935px;
  padding-left: 665px;
}
iframe{
  position: absolute;
}

.sect{
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
}

.subSect{
  height: 51.75%;
  background-color: orange;
}

.sect1{
  background-image: url("images/image4.jpg");
}

.sect2{
  background-image: url("images/image5.jpg");
}

.sect3{
  height: 100%;
  background-size: cover;
  background-image: url("images/image2.jpg");
}

script{
  padding-left: 250px;
}
